@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --purple: #737398;
    --dark-color: #454559;
    --black: #444;
    --light-color: #9f9a9a;
    --border: .1rem solid rgba(0, 0, 0.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/* Preloader styles */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--dark-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* Section styles */

section {
    padding: 3rem 9%;
}

/* Heading styles */

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span {
    font-size: 2.4rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: white;
    border: var(--border);
}

.heading-np{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    margin-top: 2.3rem;
}

/* Button styles */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: white;
    background: var(--purple);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-color);
}

/* Header styles */

.header .header-1 {
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--purple);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

/* Icon styles */

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--purple);
}

/* Search button styles */

#search-btn {
    display: none;
}

/* Header-2 styles */

.header .header-2 {
    background: var(--purple);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: white;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

/* Bottom navbar styles */

.bottom-navbar {
    text-align: center;
    background: var(--purple);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

/* Home page styles */

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img {
    height: 25rem;
}

.home .row .books-slider a:hover img {
    transform: scale(0.9);
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

/* Icons container styles */

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--purple);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* Featured section styles */

.featured .featured-slider {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img {
    height: 25rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover {
    background: var(--purple);
    color: #fff;
}

.featured .featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
    position: relative;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

/* Reviews section styles */

.reviews .reviews-slider .box {
    border: var(--border);
    padding: 1rem;
    text-align: center;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--purple);
}

/* Newsletter section styles */

.newsletter {
    background-size: cover;
    background: url(/images/background.jpg) no-repeat fixed center;
}

.newsletter .form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3 {
    font-size: 2.2rem;
    color: white;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
}

/* Footer styles */

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--purple);
    padding: 1rem 0;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: white;
    background: var(--purple);
    margin: 0 0.3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: black;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header .header-1 {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }
    body {
        padding-bottom: 6rem;
    }
    .header .header-2 {
        display: none;
    }
    .bottom-navbar {
        display: block;
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 90%;
        box-shadow: var(--box-shadow);
    }
    .home .row .content {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 3.5rem;
    }
    .featured .featured-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .featured .featured-slider .box {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter {
        background-position: left;
    }
    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }
    .footer .box-container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        display: grid;
        gap: 2rem;
    }
}